$weight-black: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
/**/
$size-big: 4rem;
$size-medium: 2.5rem;
$size-regular: 2rem;
$size-small-more: 1.5rem;
$size-small: 1rem;
/*Change emplacement*/
$default-border-radius: 8px;
