$weight-black: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
/**/
$size-big: 2rem;
$size-medium: 1.25rem;
$size-regular: 1rem;
$size-small-more: 0.75rem;
$size-small: 0.5rem;
/*Change emplacement*/
$default-border-radius: 8px;
